* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.sticky {
  position: sticky;
  top: 0px;
  background-color: yellow;
}

.long {
  background-color: cyan;
  height: 5000px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
